apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "infra-agent.fullname" . }}-config
  labels:
    app: {{ include "infra-agent.name" . }}
    chart: {{ include "infra-agent.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  HOST: {{ .Values.settings.host | quote }}
  PORT: {{ .Values.settings.port | quote }}
  LOG_LEVEL: {{ .Values.settings.logLevel | quote }}
  DEBUG: {{ .Values.settings.debug | quote }}
  LOG_FORMAT: {{ .Values.settings.logFormat | quote }}
  GITLAB_URL: {{ .Values.settings.gitlab.url | quote }}
  GITLAB_HELMFILE_PROJECT_PATH: {{ .Values.settings.gitlab.helmfileProjectPath | quote }}
  GITLAB_WEBHOOK_PROMPT_FORMAT: {{ .Values.settings.gitlab.webhookPromptFormat | quote }}
  GITLAB_WEBHOOK_SYSTEM_PROMPT_FORMAT: {{ .Values.settings.gitlab.webhookSystemPromptFormat | quote }}
  GITLAB_WEBHOOK_FOLLOWUP_PROMPT_FORMAT: {{ .Values.settings.gitlab.webhookFollowupPromptFormat | quote }}
  GRAFANA_URL: {{ .Values.settings.grafana.url | quote }}
  GRAFANA_ORG_ID: {{ .Values.settings.grafana.orgId | quote }}
  GRAFANA_PROMETHEUS_DATASOURCE_NAME: {{ .Values.settings.grafana.prometheusDatasourceName | quote }}
  GRAFANA_WEBHOOK_SYSTEM_PROMPT_FORMAT: {{ .Values.settings.grafana.webhookSystemPromptFormat | quote }}
  GRAFANA_WEBHOOK_PROMPT_FORMAT: {{ .Values.settings.grafana.webhookPromptFormat | quote }}
  GRAFANA_WEBHOOK_FOLLOWUP_PROMPT_FORMAT: {{ .Values.settings.grafana.webhookFollowupPromptFormat | quote }}
